.centerTable {
    margin: 0px auto;
}

.title {
    text-align: center;
}

.form {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 2px solid #73AD21;
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.pt-3-half {
    padding-top: 1.4rem;
}


/* EDITABLE table */

.button {
    background-color: rgb(182, 138, 19);
    background-image: linear-gradient(rgb(20, 74, 173), lightgreen);
    /* Green */
    border-radius: 15px 50px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(rgba(228, 105, 105, 0.8), rgb(185, 120, 22));
}